<label>Server Name :</label>
<!-- <input
  type="text"
  class="form-control"
  placeholder="Server Name"
  (input)="onUpdateServerName($event)"
/> -->
<input
  type="text"
  class="form-control"
  placeholder="Server Name"
  [(ngModel)]="serverName"
/>

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add New Server
</button>

<p [innerText]="allowNewServer"></p>
<div>{{ serverCreationStatus }}</div>
<app-server></app-server>
<app-server></app-server>
