<div class="container">
  <app-cockpit
    (screated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  >
  </app-cockpit>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <button (click)="onChangeFirst()" class="btn btn-primary">
      Change first element
    </button>
    <button class="btn btn-danger" (click)="destroyFirst()">
      Destroy first component
    </button>
    <app-server-element
      *ngFor="let srvelement of serverElements"
      [server]="srvelement"
      [name]="srvelement.name"
    >
      <p #contentParagraph>
        <strong *ngIf="srvelement.type === 'server'" style="color: red">{{
          srvelement.content
        }}</strong>
        <em *ngIf="srvelement.type === 'blueprint'">{{
          srvelement.content
        }}</em>
      </p>
    </app-server-element>
  </div>
</div>
